<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/stylesheets/vendor.css' />
  <link rel='stylesheet' href='/stylesheets/app.css' />
  <title>My School Manager</title>
</head>
<body ng-app="MySchoolManagerApp" ng-controller="MainCtrl">

  <!-- Navigation bar here -->
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span> <span
        class="icon-bar"></span> <span class="icon-bar"></span> <span
        class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#afterschoolcare">After school care</a></li>
        <li><a href="#administration">Familly administration</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</div>
<br />
<!-- Content here -->
<div class="container">
  <div ng-view></div>
</div>
<br />

<!-- Footer here -->
<footer>
  <span> ©Hervé Darritchon - @HervDarritchon</span>
</footer>

<!-- Include Javascript below -->
<script type="text/javascript" src="/javascripts/vendor.js"></script>
<script type="text/javascript" src="/javascripts/app.js"></script>
</body>
</html>
